@model TomasGreen.Model.Models.ReceiveArticle

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>ReceiveArticle</h4>
<hr />
<div class="row">
    <div class="col-sm-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-sm-2">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="ArticleID" class="control-label"></label>
                <select asp-for="ArticleID" class="form-control" asp-items="ViewBag.ArticleID">
                    <option>Select an article</option>
                </select>
                <span asp-validation-for="ArticleID" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <label asp-for="CompanyID" class="control-label"></label>
                <select asp-for="CompanyID" class="form-control" asp-items="ViewBag.CompanyID">
                    <option>Select a company</option>
                </select>
                <span asp-validation-for="CompanyID" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-4">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class ="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-2">
                <br />
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <form asp-action="Create">
        <div class="col-sm-12">
         @if (ViewBag.ReceivArticleWarehouse != null)
         {
            <table id="TimeReportTable" class="table table-striped .table-responsive table-sm ">
                <thead class="bg-primary">
                    <tr>
                        <td>
                            <label class="control-label">Warehouse</label>
                        </td>
                        <td>
                            <label class="control-label Timelabel">Boxes</label>
                        </td>
                        <td>
                            <label class="control-label Timelabel">Ext. kg</label>
                        </td>

                    </tr>
                </thead>
                @foreach (var item in ViewBag.ReceivArticleWarehouse)
            {
                <tr>
                    <td>
                        <div class="form-group">
                            @item.Warehouse.Name
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input value="@item.QtyBoxes" class="form-control TimeInput" />
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input value="@item.QtyExtraKg" class="form-control TimeInput" />
                           
                        </div>
                    </td>
                  
                </tr>

        }
            </table>
            <input type="submit" value="Add" class="btn btn-primary" />
    }
        </div>
    </form>
   
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

