@model TomasGreen.Model.Models.ReceiveArticle

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ReceiveArticle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticleID" class="control-label"></label>
                <select asp-for="ArticleID" class="form-control" asp-items="ViewBag.ArticleID"></select>
                <span asp-validation-for="ArticleID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyID" class="control-label"></label>
                <select asp-for="CompanyID" class="form-control" asp-items="ViewBag.CompanyID"></select>
                <span asp-validation-for="CompanyID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WarehouseID" class="control-label"></label>
                <input asp-for="WarehouseID" class="form-control" />
                <span asp-validation-for="WarehouseID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtyBoxes" class="control-label"></label>
                <input asp-for="QtyBoxes" class="form-control" />
                <span asp-validation-for="QtyBoxes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtyKg" class="control-label"></label>
                <input asp-for="QtyKg" class="form-control" />
                <span asp-validation-for="QtyKg" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

