@model TomasGreen.Model.Models.ArticleWarehouseBalance
<div>
   
    <div class="row alert alert-warning" role="alert">
        <div class="col-md-12">
            <div class="col-md-2">
              <label>Onnhands »»</label>
            </div>
            <div class="col-md-2">
                <span>@Model.Article.Name</span>
            </div>
            <div class="col-md-2">
                <span>@Model.Warehouse.Name</span>
            </div>
            <div class="col-md-2">
                <span>Packages </span>
                <span class="badge">@Model.QtyPackagesOnhand</span>
                <span></span>
            </div>
            <div class="col-md-2">
                <span>Extra </span>
                <span class="badge">@Model.QtyExtraOnhand</span>
            </div>
        </div>
    </div>

</div>
