@inject TomasGreen.Web.CustomLocalizer localizer
@model TomasGreen.Model.Models.Order

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompanyID" class="control-label"></label>
                <select asp-for="CompanyID" class="form-control" asp-items="ViewBag.CompanyID"></select>
                <span asp-validation-for="CompanyID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeID" class="control-label"></label>
                <input asp-for="EmployeeID" class="form-control" />
                <span asp-validation-for="EmployeeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountArticle" class="control-label"></label>
                <input asp-for="AmountArticle" class="form-control" />
                <span asp-validation-for="AmountArticle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPrice" class="control-label"></label>
                <input asp-for="TotalPrice" class="form-control" />
                <span asp-validation-for="TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentDate" class="control-label"></label>
                <input asp-for="PaymentDate" class="form-control" />
                <span asp-validation-for="PaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaidDate" class="control-label"></label>
                <input asp-for="PaidDate" class="form-control" />
                <span asp-validation-for="PaidDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoadingDate" class="control-label"></label>
                <input asp-for="LoadingDate" class="form-control" />
                <span asp-validation-for="LoadingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoadedDate" class="control-label"></label>
                <input asp-for="LoadedDate" class="form-control" />
                <span asp-validation-for="LoadedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountPaid" class="control-label"></label>
                <input asp-for="AmountPaid" class="form-control" />
                <span asp-validation-for="AmountPaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coments" class="control-label"></label>
                <input asp-for="Coments" class="form-control" />
                <span asp-validation-for="Coments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderdBy" class="control-label"></label>
                <input asp-for="OrderdBy" class="form-control" />
                <span asp-validation-for="OrderdBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentWarning" class="control-label"></label>
                <input asp-for="PaymentWarning" class="form-control" />
                <span asp-validation-for="PaymentWarning" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ForcedPaid" /> @Html.DisplayNameFor(model => model.ForcedPaid)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="OrderPaid" /> @Html.DisplayNameFor(model => model.OrderPaid)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Cash" /> @Html.DisplayNameFor(model => model.Cash)
                    </label>
                </div>
            </div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

