@model IEnumerable<TomasGreen.Model.Models.PurchaseArticleContainerDetail>


<table class="table table-responsive table-hover table-striped">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ContainerNumber)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContainerNumber)
            </td>
            <td>
                <a asp-action="EditPurchaseArticleContainerDetail" asp-route-id="@item.ID"><span class="glyphicon glyphicon-edit alert-warning"></span></a>&nbsp;&nbsp; |&nbsp;&nbsp;
                <a asp-action="DeletePurchaseArticleContainerDetail" asp-route-id="@item.ID" onclick="return window.confirm('Are you sure you want to delete this post?')"><span class="glyphicon glyphicon-trash alert-danger"></span></a>
            </td>
        </tr>
}
    </tbody>
</table>
