@inject TomasGreen.Web.CustomLocalizer localizer
@model TomasGreen.Model.Models.Article

@{
    ViewData["Title"] = localizer["Create"];
}

<h2>@localizer["Create"] &nbsp; @localizer["article"]</h2>

<hr />
<div class="row">

  <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-12">
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="MinimumPricePerUSD" class="control-label"></label>
                        <input asp-for="MinimumPricePerUSD" class="form-control" />
                        <span asp-validation-for="MinimumPricePerUSD" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="WeightPerPackage" class="control-label"></label>
                        <input asp-for="WeightPerPackage" class="form-control" />
                        <span asp-validation-for="WeightPerPackage" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="ArticleCategoryID" class="control-label"></label>
                        <select asp-for="ArticleCategoryID" class="form-control" asp-items="ViewBag.ArticleCategoryID">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="ArticleUnitID" class="control-label"></label>
                        <select asp-for="ArticleUnitID" class="form-control" asp-items="ViewBag.ArticleUnitID">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                
            </div>
            <div class="col-md-12">
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="ArticlePackageFormID" class="control-label"></label>
                        <select asp-for="ArticlePackageFormID" class="form-control" asp-items="ViewBag.ArticlePackageFormID">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="CountryID" class="control-label"></label>
                        <select asp-for="CountryID" class="form-control" asp-items="ViewBag.CountryID">
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
                <div class="col-md-2">

                </div>
                <div class="col-md-2">

                </div>
                <div class="col-md-2">

                </div>
                
            </div>
           
            
            
            
           
           

            
           
        </form>
    
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

