
.nav-bg-green {
    background-color:lightgreen;
}

.nav-text-black {
    color: #9d9d9d;
    font-weight: bold;
    font-stretch: wider;
}
.leftMargin {
    margin-left: 10px !important;
}
.rightMargin {
    margin-right: 10px !important;
}

