@model TomasGreen.Model.Models.Article

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Article</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimumPrice" class="control-label"></label>
                <input asp-for="MinimumPrice" class="form-control" />
                <span asp-validation-for="MinimumPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoxWeight" class="control-label"></label>
                <input asp-for="BoxWeight" class="form-control" />
                <span asp-validation-for="BoxWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticleCategoryID" class="control-label"></label>
                <select asp-for="ArticleCategoryID" class="form-control" asp-items="ViewBag.ArticleCategoryID"></select>
                <span asp-validation-for="ArticleCategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryID" class="control-label"></label>
                <select asp-for="CountryID" class="form-control" asp-items="ViewBag.CountryID"></select>
                <span asp-validation-for="CountryID" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

