@inject TomasGreen.Web.CustomLocalizer localizer
@model IEnumerable<TomasGreen.Model.Models.ArticleCategory>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayName("Articles")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Articles.Count)
                </td>
                <td>
                    @await Html.PartialAsync("~/Views/Shared/_IndexLinks.cshtml", item.ID)
                </td>
            </tr>
        }
    </tbody>
</table>
